@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.photo {
  height: 100vh;
  width: 50%;
  background: url(../images/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  width: 50%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  margin-bottom: 24px;
}

.text p {
  color: #2d3748;
}

.text h2 {
  color: #1a202c;
  font-size: 30px;
  line-height: 1;
}

.form_area p {
  color: #4a5568;
}

.form_area input[type="text"],
.form_area input[type="password"] {
  width: 100%;
  height: 50px;
  padding: 0px 21px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: transparent;
  margin-top: 11px;
}

.form_area input[type="text"] {
  margin-bottom: 15px;
}

::placeholder {
  color: #e8e8e8;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.agree {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  margin: 26px 0;
}

.agree label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.agree a {
  color: #2c5282;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.btns img {
  width: 20px;
  margin: 10px;
}

.btn {
  width: 347px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  background-color: #04c35c;
  border-radius: 5px;
  font-weight: 700;
}

.btn.top {
  color: #fff;
}

.btn.bottom {
  color: #fff;
  background-color: #2d3748;
}

.account {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  bottom: 50px;
}
